.Navbar
  overflow: hidden
  background-color: #E0B1CB
  font-family: Jost, sans-serif
  padding: 0 10% 0 10%
  display: flex
  justify-content: space-between
  &Row
    display: flex
    flex-direction: row
    gap: 30px
    &Logo
      font-family: Merienda, serif
      font-weight: 400
      font-size: 35px
      line-height: 51px
      text-align: center
      padding: 5px 5px
      letter-spacing: -0.03em
      &:hover
        text-decoration: underline #231942